flask
flask-cors
werkzeug
numpy
opencv-python
joblib
tensorflow
pandas
pickle5
pyzbar
scikit-learn
pickle-mixin
requests
bs4
oletools
virustotal-python
python-magic
pdfplumber
python-docx
chardet
